@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
  text-align: center;
}
.App-title-screen {
  display: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.top-bar {
  background-color: white;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  color: #900028;
  height: 77px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: Nunito, sans-serif;
}
.top-bar h1 {
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(1, 1fr);  
  grid-gap: 50px;
}
.side-bar {
  margin-top: 75px;
  width: 350px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.content {
  margin-top: 150px;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  width: 1100px;
}
.heading {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.logloss {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  margin: auto;
}
.logloss svg {
  margin-top: 40px;
  cursor: crosshair;
}
.logloss table {
  grid-column: 1/2;
  border-collapse: collapse;
  margin: auto;
  border-spacing: 0px;
  width: 300px;
}
.logloss table td {
  height: 25px;
  border: 1px solid #cdcdcd;
  border-right: none;
  cursor: crosshair;
}
.logloss table td:first-child {
  width: 250px;
}
.logloss tr:nth-child(even) {
  background-color: #e7e7e7;
}
.logloss td + td {
  border-left: none;
  border-right: 1px solid #cdcdcd;
}
.logloss .graph {
  grid-column: 2/3;
  margin: auto;
}
.logloss .graph h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
}
/*
@media screen and (max-width: 1023px) { 
  .side-bar {
    display: none;
  }
  .main {
    display: flex;
    width: 100%;
  }
  .App-title {
    display: none;
  }
  .App-title-screen {
    display: inline;
    width: 50%;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 36px;
    left: 12px;
    top: 12px;
  }
  .bm-burger-bars {
    background: #dee0df;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross {
    background: #838383;
  }
  .bm-menu {
    background: #dee0df;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.15em;
  }
  .bm-morph-shape {
    fill: #373a47;
  }
  .bm-item-list a {
    color: #585858;
    text-decoration: none;
  }
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
*/

/*
Top-bar Navigaion CSS
 */
.nav {
  margin-left: 2rem;
}
.nav ul {
  list-style: none;
  text-align: left;
}
.nav a, .nav label {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  color: #585858;
  text-decoration: none;
}
.nav label { 
  cursor: pointer; 
}
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover {
  color: rgba(88, 88, 88, 0.5);
}
.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
  color: rgba(88, 88, 88, 0.5);
}
.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover {
  color: rgba(88, 88, 88, 0.5);
}
.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}
.nav__list {
  padding:0;
}

.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
  max-height: 1000px; 
}

label > span {
  float: right;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked + label > span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.d3vis {
  width:500px;
  height:500px;
}

.bm-menu-wrap {
  width: 400px !important;
}

/*
Score-Page CSS
 */

.score-container {
  width: 950px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
} 

.scoreboard {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: auto;
}

.scoreboard h1 {
  font-size: 5rem;
}

.weak-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
}

.logo img {
  border: 1px solid none;
  border-radius: 10px;
}

.strong-logo {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin: auto;
}

.score-histogram {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  margin: auto;
  display: inline;
}

.victor {
  border-bottom: 1px solid #90c2e7;
  padding: 5px;
}

.loser {
  padding:5px;
}

.logloss-graph {
  margin-left: 40px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 14px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.axis {
  stroke: #585858;
  stroke-width: .01em;
}
.axis text {
    fill: #585858;
}
.axis-histogram {
  stroke: #585858;
  stroke-width: .01em;  
}
.axis-histogram text{
  fill: #585858;
  font-size:12pt
}
.score-histogram h3 {
  font-weight: 100;
}